.sidebar{
    background: #fff;
    width: 300px;
    display: inline-block;
    height: 100vh;
    vertical-align: top;
    border-right: 5px solid #b2eee9;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar h1{
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 12px;
}

.sidebar a{
    display: block;
    height: 50px;
    line-height: 50px;
    color: #333;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0 12px;
}

.sidebar a.active{
    background: #333;
    color: #fff;
}